body {
  background-color: rgb(11, 22, 34);
  color: #9FADBD;
  font-family: 'Overpass', sans-serif;
  padding: 10px;
  width: 400px;
  font-size: 0.95rem;
}

a {
  color:#3DB4F2;
}

#logout-link {
  margin-left: 5px;
}

#update-button {
  margin-top: 7px;
}

input {
  margin-left: 5px;
}

#anilist-match--image{
  margin:5px
}

#popup-app {
  background-color: rgb(21,31,46);
  padding: 10px;
  border-radius: 10px;
}

#welcome-text {
  font-size: 1.2rem;
  display: inline-block;
  width: 50%;
}

#sign-out-link {
  display: inline-block;
}

#content-image {
  width: 100px;
  display: inline-block;
}

#content-ui {
  display: inline-block;
  vertical-align: top;
}

#content-name {
  vertical-align: top;
}

#title-link {
  padding:2px;
}

#content-ui--total-episodes {
    padding:2px;
  }

#content-ui--progress {
    padding:2px;
  }

#content-ui--score {
  padding:2px;
      }

#progress {
  display: inline-block;
}

.u-bottom-margin {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}
